<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.persist.custom.mapper.AdminMoreMapper">
  <resultMap id="BaseResultMap" type="com.pjt.persist.model.Admin">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, role, password, phonenumber, status, create_id, create_time, update_id, update_time
  </sql>
  <sql id="where">
    <where>
      <if test="parameterMap.id!=null and parameterMap.id!=''">
        AND id = #{parameterMap.id}
      </if>
      <if test="parameterMap.name!=null and parameterMap.name!=''">
        AND name LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.name}))),'%') ESCAPE '*'
      </if>
      <if test="parameterMap.phonenumber!=null and parameterMap.phonenumber!=''">
        AND phonenumber = #{parameterMap.phonenumber}
      </if>
    </where>
  </sql>
  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>
  <select id="getAdminList" parameterType="com.pjt.common.utils.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin
    <include refid="where"/>
    order by id desc
    <include refid="pageLimit"/>
  </select>
  <!--查詢管理员总数-->
  <select id="getAdminListCount" resultType="java.lang.Integer" parameterType="com.pjt.common.utils.Page" >
    select
    count(0) as count
    from admin
    <include refid="where"/>
  </select>

  <select id="checkAdmin" parameterType="com.pjt.persist.model.Admin" resultType="com.pjt.persist.model.Admin">
      SELECT <include refid="Base_Column_List" /> FROM admin WHERE  name = #{name} AND password = #{password}
  </select>
</mapper>