<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjt.persist.custom.mapper.ExamMoreMapper" >
  <resultMap id="BaseResultMap" type="com.pjt.persist.model.Exam" >
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="exam_time" property="examTime" jdbcType="VARCHAR" />
      <result column="exam_name" property="examName" jdbcType="VARCHAR" />
      <result column="exam_type" property="examType" jdbcType="VARCHAR" />
      <result column="exam_number" property="examNumber" jdbcType="VARCHAR" />
      <result column="paper_id" property="paperId" jdbcType="INTEGER" />
      <result column="exam_mark" property="examMark" jdbcType="VARCHAR" />
      <result column="expired_time" property="expiredTime" jdbcType="TIMESTAMP" />
      <result column="creater" property="creater" jdbcType="VARCHAR" />
      <result column="exam_status" property="examStatus" jdbcType="INTEGER" />
      <result column="create_id" property="createId" jdbcType="INTEGER" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="update_id" property="updateId" jdbcType="INTEGER" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
      id, exam_time, exam_name, exam_type, exam_number, paper_id, exam_mark, expired_time,
    creater, exam_status, create_id, create_time, update_id, update_time
 </sql>
  <sql id="where">
    <where>
      <if test="parameterMap.examName!=null and parameterMap.examName!=''">
        AND exam_name LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.examName}))),'%') ESCAPE '*'
      </if>
     <!-- <if test="parameterMap.name!=null and parameterMap.name!=''">
     #  AND name LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.name}))),'%') ESCAPE '*'
      </if>-->
      <if test="parameterMap.examType!=null and parameterMap.examType!=''">
        AND exam_type = #{parameterMap.examType}
      </if>
    </where>
  </sql>
  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>
  <select id="getExamList" parameterType="com.pjt.common.utils.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from exam
    <include refid="where"/>
    order by id desc
    <include refid="pageLimit"/>
  </select>
  <!--查詢考试总记录数-->
  <select id="getExamListCount" resultType="java.lang.Integer" parameterType="com.pjt.common.utils.Page" >
    select
    count(0) as count
    from exam
    <include refid="where"/>
  </select>
</mapper>