<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjt.persist.custom.mapper.LibraryMoreMapper" >
  <resultMap id="BaseResultMap" type="com.pjt.persist.model.Library" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="library_type" property="libraryType" jdbcType="VARCHAR" />
    <result column="ques_type" property="quesType" jdbcType="CHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, status, library_type, ques_type, create_id, create_time, update_id, update_time
  </sql>
  <sql id="where">
    <where>
      <if test="parameterMap.title!=null and parameterMap.title!=''">
        AND title LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.title}))),'%') ESCAPE '*'
      </if>
      <!-- <if test="parameterMap.name!=null and parameterMap.name!=''">
      #  AND name LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.name}))),'%') ESCAPE '*'
       </if>-->
      <if test="parameterMap.libraryType!=null and parameterMap.libraryType!=''">
        AND library_type = #{parameterMap.libraryType}
      </if>
      <if test="parameterMap.quesType!=null and parameterMap.quesType!=''">
        AND ques_type = #{parameterMap.quesType}
      </if>
    </where>
  </sql>
  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>
  <select id="getLibraryList" parameterType="com.pjt.common.utils.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from library
    <include refid="where"/>
    order by id desc
    <include refid="pageLimit"/>
  </select>

  <select id="getLibraryListCount" resultType="java.lang.Integer" parameterType="com.pjt.common.utils.Page" >
    select
    count(0) as count
    from library
    <include refid="where"/>
  </select>

  <select id="getTitlebyType" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT ques_type FROM library WHERE id = #{libraryid}
  </select>
</mapper>