<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjt.persist.custom.mapper.PaperMoreMapper" >
  <resultMap id="BaseResultMap" type="com.pjt.persist.model.Paper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_type" property="paperType" jdbcType="VARCHAR" />
    <result column="paper_name" property="paperName" jdbcType="VARCHAR" />
    <result column="total_score" property="totalScore" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="examiner" property="examiner" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, paper_type, paper_name, total_score, status, examiner, title, create_id, create_time, 
    update_id, update_time
  </sql>
  <sql id="where">
    <where>
      <if test="parameterMap.id!=null and parameterMap.id!=''">
        AND id = #{parameterMap.id}
      </if>
      <if test="parameterMap.name!=null and parameterMap.name!=''">
        AND name LIKE concat('%',concat('*',LTrim(RTrim(#{parameterMap.name}))),'%') ESCAPE '*'
      </if>
      <if test="parameterMap.type!=null and parameterMap.type!=''">
        AND type = #{parameterMap.type}
      </if>
    </where>
  </sql>
  <sql id="pageLimit">
    <if test="pageSize!=null">
      <if test="offset!=null">
        LIMIT #{pageSize} OFFSET #{offset}
      </if>
    </if>
  </sql>
  <select id="getPaperList" parameterType="com.pjt.common.utils.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from paper
    <include refid="where"/>
    order by id desc
    <include refid="pageLimit"/>
  </select>
  <!--查詢总数-->
  <select id="getPaperListCount" resultType="java.lang.Integer" parameterType="com.pjt.common.utils.Page" >
    select
    count(0) as count
    from paper
    <include refid="where"/>
  </select>
  <delete id="batchDeleteByPaperID" parameterType="java.util.List">
    DELETE FROM paper
    WHERE id IN
    <foreach item='id' collection='list' open='(' separator=',' close=')'>
      #{id}
    </foreach>
  </delete>
  <insert id="insertMore" parameterType="com.pjt.persist.model.Paper" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into paper (id, paper_type, paper_name,
    total_score, status, examiner,
    title, create_id, create_time,
    update_id, update_time)
    values (#{id,jdbcType=INTEGER}, #{paperType,jdbcType=VARCHAR}, #{paperName,jdbcType=VARCHAR},
    #{totalScore,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{examiner,jdbcType=VARCHAR},
    #{title,jdbcType=VARCHAR}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
    #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>