<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjt.persist.mapper.TypeDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.pjt.persist.model.TypeDictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_cd" property="typeCd" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_sub_cd" property="typeSubCd" jdbcType="VARCHAR" />
    <result column="type_sub_name" property="typeSubName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type_cd, type_name, type_sub_cd, type_sub_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pjt.persist.model.TypeDictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from type_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pjt.persist.model.TypeDictionary" >
    insert into type_dictionary (id, type_cd, type_name, 
      type_sub_cd, type_sub_name)
    values (#{id,jdbcType=INTEGER}, #{typeCd,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{typeSubCd,jdbcType=VARCHAR}, #{typeSubName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pjt.persist.model.TypeDictionary" >
    insert into type_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeCd != null" >
        type_cd,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typeSubCd != null" >
        type_sub_cd,
      </if>
      <if test="typeSubName != null" >
        type_sub_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeCd != null" >
        #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubCd != null" >
        #{typeSubCd,jdbcType=VARCHAR},
      </if>
      <if test="typeSubName != null" >
        #{typeSubName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pjt.persist.model.TypeDictionaryExample" resultType="java.lang.Integer" >
    select count(*) from type_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.pjt.persist.model.TypeDictionary" >
    update type_dictionary
    <set >
      <if test="typeCd != null" >
        type_cd = #{typeCd,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeSubCd != null" >
        type_sub_cd = #{typeSubCd,jdbcType=VARCHAR},
      </if>
      <if test="typeSubName != null" >
        type_sub_name = #{typeSubName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pjt.persist.model.TypeDictionary" >
    update type_dictionary
    set type_cd = #{typeCd,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_sub_cd = #{typeSubCd,jdbcType=VARCHAR},
      type_sub_name = #{typeSubName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>